@{
    ViewBag.Title = "Home Page";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.webcam.js")"></script>
}
<div class="well">

    <div class="col-xs-8">
        <br />
        <h1>SchoolTime</h1>
        <br />
        <h3>College of Integrated Science and Technology</h3>
    </div>
    <div class="col-xs-3 pull-right">
        <img src="~/Content/5591_logo.cisat.png" class="img-responsive">
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
